:root {
  --gradient-style: linear-gradient(-30deg, red, blue, black, white);
  --principal-color-black: #0a0a0a;
  --principal-color-green: #00ffab;
  --shadow-color: #282626;
  --letters-color: #ffffff;
}

body {
  background-color: var(--principal-color-black);
  color: var(--letters-color);
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

h1 {
  color: var(--principal-color-green);
}

.navbar {
  background-color: var(--principal-color-black);
  justify-content: space-between;
  display: flex;
  height: 100px;
}

.navbar .left,
.navbar .right {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .left {
  width: 50%;
}

.navbar .left ul,
.navbar .right ul {
  width: 100%;
  margin: 0 0;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .right ul {
  justify-content: center;
}

.navbar .right ul li {
  padding: 0 30px;
}

.navbar li {
  list-style-type: none;
}

.navbar a,
#song {
  color: var(--letters-color);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.navbar a:hover,
#song:hover {
  color: var(--principal-color-green);
  cursor: pointer;
}

.main {
  width: 100%;
}

.container {
  width: 80%;
  background-color: var(--principal-color-black);
}

/* Button responsive */

.header {
  position: relative;
  display: none;
}

/* Today Container */
.today-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-height: 30vh;
  box-shadow: 0px 8px 10px rgba(230, 229, 229, 0.5);
}

.today-container h1 {
  margin-bottom: 30px;
}

.current-day {
  font-size: 70px;
}

.today-container .imagen-profile {
  width: 260px;
  height: 260px;
  object-fit: cover;
  border-radius: 50%;
  transition: filter 0.3s ease;
  margin-right: 30px;
  margin-bottom: 30px;
}

.imagen-profile:hover {
  filter: invert(100%);
}

.greeting-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--principal-color-black);
}

.special-greeting {
  font-size: 30px;
  animation: palpitate 1.7s ease-in-out;
  width: 50%;
}

.greeting-container .integrants,
.greeting-container .aleatory-greetings {
  width: 50%;
  background-color: var(--principal-color-black);
}

.card-container-integrant {
  max-width: 500px;
  margin: 0 20px;
  box-shadow: 0px 8px 10px rgba(230, 229, 229, 0.5);
  margin-bottom: 60px;
}

.integrants {
  width: 70%;
}

.greeting-container {
  display: flex;
  justify-content: space-between;
}

.aleatory-greetings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.5);
  min-width: 400px;
  min-height: 250px;
}
.aleatory-meesage {
  margin: 0 auto;
}

.profile-random-img {
  margin: 30px 0 0 0;
}

.integrants ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.integrants li {
  width: 25%;
}
.individual-image-from-list {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.aleatory-meesage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aleatory-message img {
  margin: 0 auto;
}

.aleatory-meesage p {
  text-align: center;
  margin: 0 auto;
  display: inline-block;
}

.profile-random-img {
  margin: 0 auto;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  border-radius: 50%;
  animation: introduction 1s ease-in-out;
}
.random-description {
  animation: introduction 1s ease-in-out;
}

.ul-All-Integrants {
  list-style: none;
  padding: 0;
}

.ul-All-Integrants li {
  margin-top: 5px;
}

.participant-tomorrow {
  text-transform: uppercase;
  font-size: 40px;
}

@keyframes palpitate {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

@keyframes introduction {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media only screen and (max-width: 700px) {
  .container {
    width: 90%;
    margin: 0 25px;
  }

  .navbar {
    flex-direction: column;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: rgba(255, 255, 255, 1);
    z-index: 2;
    transform: translateX(100%);
    transition: 0.3s;
    width: 180px;
  }
  .navbar.active {
    transform: translateX(0);
    color: black;
  }

  .button-responsive {
    transition: 0.3s;
    opacity: 0.7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px auto;
    width: 70px;
    height: 40px;
    background-color: white;
    position: fixed;
    top: 0px;
    right: 45px;
    z-index: 2;
    cursor: pointer;
    border-radius: 25px;
    margin: 30px 0;
  }

  .button-responsive.active {
    opacity: 1;
    background-color: black;
    transition: 0.3s;
    margin: 20px auto;
    z-index: 3;
  }

  .button-responsive .line {
    background-color: black;
    height: 4px;
    width: 70%;
    margin: 3.5px auto;
    padding: 0;
    border-radius: 4px;
  }

  .button-responsive .line.active {
    background-color: rgb(255, 255, 255);
  }
  .navbar .left,
  .navbar .right {
    width: 100%;
  }

  .navbar .left ul,
  .navbar .right ul {
    flex-direction: column;
    justify-content: space-around;
    height: 50vh;
    width: 100%;
  }

  .navbar .left ul li:nth-child(1) {
    margin-top: 40px;
  }
  .navbar li a {
    color: black;
  }
  .navbar #song {
    color: black;
  }

  .today-name {
    text-align: center;
    margin: 0 auto;
  }
  .today-container {
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(230, 229, 229, 0.5);
  }

  .today-container .imagen-profile {
    box-shadow: 0px 4px 10px rgba(230, 229, 229, 0.5);
  }
  .special-greeting {
    font-size: 30px;
    width: 90%;
  }

  #aleatory-message {
    width: 100%;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  .greeting-container .integrants {
    margin: 0 0;
    width: 100%;
  }

  .integrants li {
    width: 100%;
    display: block;
  }
}
